<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
		<div class="row">
             <div class="col-sm-6">
			 <h2 class="service-heading"> 
			 <a href="https://hassanandassociates.ml/501.html"><img src="/img/brand/portal.webp" alt="portal" width=200 height=160> </a></h2>
	    	</div>
		
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/Basta1.webp" class="img-responsive img-centered" alt="bastal">
                    </a>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/buildview1.webp" class="img-responsive img-centered" alt="buildview">
                    </a>
                </div>
				
				<div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/prime.webp" class="img-responsive img-centered" alt="prime">
                    </a>
                </div>
				
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/dynamic1.webp" class="img-responsive img-centered" alt="dynamic">
                    </a>
                </div>
            </div>
        </div>
</aside>