<!-- Misc Aside -->			
	<aside class="misc">
	    <div class="container">
	        			
           <div class="row text-center">
             <div class="col-md-4">
                <h4 class="service-heading">
				<h4 class="service-heading"> Support Point </h4>
				<div class="row text-center">
				<a href="https://hassanandassociates.ml/ama"><img src="/img/logos/ama.webp"alt="ama" width=280 height=150 border="0"/></a>
               </div>
			</div>
			
			<div class="row text-center">
                 <div class="col-md-4">
                <h4 class="service-heading">
                 </h4>
				<div class='embed-container'>
                <iframe src="https://calendar.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=315&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=upodesta%40gmail.com&amp;color=%2329527A&amp;src=en.bd%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FDhaka" style="border:solid 1px #777" width="280" height="200" frameborder="0" scrolling="no"></iframe>
                 
                </div>
		     </div>
			 
			<div class="row text-center">
             <div class="col-md-4">
                <h4 class="service-heading">
				<img src="/img/logos/flickr.svg" alt="flickr" width=36 height=36>
				</h4>
				<div class='embed-container'>
                 <a data-flickr-embed="true"  href="https://www.flickr.com/gp/upodesta/4299fk" title="Hassan and Associates"><img src="https://farm5.staticflickr.com/4775/40789763311_f251d9a39f_m.jpg" width="250" height="160" alt="Hassan and Associates"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
				 
               </div>
			</div>
        </div>
</aside>  
