<!-- About Aside -->
    <aside class="about">
        <div class="container">
            <div class="row">
			    <div class="col-sm-6">
                <h4 class="service-heading">
				We Accept :
				</h4>
			</div>
         </div>
		
		
			<div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="http://bracbank.com/debit-card.php">
                        <img src="img/logos/visa.webp" class="img-responsive img-centered" alt="visa">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.payoneer.com/main">
                        <img src="img/logos/payoneer1.webp" class="img-responsive img-centered" alt="payoneer">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.payza.com/bangladesh">
                        <img src="img/logos/payza1.webp" class="img-responsive img-centered" alt="payza">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.bkash.com">
                        <img src="img/logos/bikash1.webp" class="img-responsive img-centered" alt="bikash">
                    </a>
                </div>
            </div>
        </div>
 </aside>