<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
					         
	    <div class="row text-center">
            <div class="col-sm-6">
                <h4 class="service-heading">
				<h4 class="service-heading"></h4>	
				<div class='embed-container'>
				<iframe src="https://hassanandassociates.app.box.com/embed/s/7x9sjxsun3z9wttwsb5xpdrrgng9yp34?sortColumn=date&view=list" width="340" height="180" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe> 
               </div>
			</div>
		
		<div class="row text-center">
            <div class="col-sm-6">
                <h4 class="service-heading">
				</h4>
				<div class='embed-container'>
				<script type="text/javascript">var mf_dropbox_width=310;var mf_dropbox_id="e753f7382da167ece579bb721d8390293342125910857d0bcacb3559965100f5";</script><script type="text/javascript" src="//www.mediafire.com/dropbox/dropbox.js"></script>
                </div>
		     </div>
</aside>		 
