<section id="vimeo">
    <div class="container">

	    <div class="row text-center">
            <div class="col-sm-6">
                <h4 class="service-heading">
				<img src="/img/logos/vimeo.svg" alt="vimeo" width=36 height=36>
				</h4>
				<div class='embed-container'>
				<iframe src="https://player.vimeo.com/video/257938924" width="330" height="182" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
		
				
		<div class="row text-center">
                <div class="col-sm-6">
                <h4 class="service-heading">
				<img src="/img/logos/in.svg" alt="in" width=36 height=36>
				</h4>
				<div class='embed-container'>
				<iframe src="//www.slideshare.net/slideshow/embed_code/key/e6CzZzdzeviCAc" width="330" height="182" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/SyedHassanAli1/my-draft-site-plan" title="My draft site plan" target="_blank"></a> </strong> <strong><a href="https://www.slideshare.net/SyedHassanAli1" target="_blank"></a></strong> </div>
				</div>
			</div>
		
</section>
			
		