<section id="vk">
    <div class="container">
	        
			<div class="row text-center">
                <div class="col-sm-6">
                <h4 class="service-heading">
                 <img src="/img/logos/sway.svg" alt="sway" width=36 height=36>
				</h4>
				<div class='embed-container'>
                <iframe width="340px" height="320px" src="https://sway.com/s/LDk6F065TY06q64j/embed" frameborder="120" marginheight="0" marginwidth="0" max-width="100%" sandbox="allow-forms allow-modals allow-orientation-lock allow-popups allow-same-origin allow-scripts" scrolling="no" style="border: none; max-width: 100%; max-height: 100vh" allowfullscreen mozallowfullscreen msallowfullscreen webkitallowfullscreen></iframe>
                 
                </div>
		    </div>
			
			<div class="row text-center">
            <div class="col-sm-6">
                <h4 class="service-heading">
				<img src="/img/logos/gplus.svg" alt="gplus" width=36 height=36>
				</h4>
				<div class='embed-container'>
				<div class="g-page" data-width="340" data-height="320" data-href="//plus.google.com/u/0/107475538839585118866" data-rel="publisher"></div>
               </div>
		</div>
			 
			 
</section>  