<section id="youtube">
    <div class="container">

	   <div class="row text-center">
            <div class="col-sm-6">
                <h4 class="service-heading">
				<img src="/img/logos/gplus.svg" alt="gplus" width=36 height=36>
				</h4>
				<div class='embed-container'>
				<div class="g-page" data-width="100%" data-height="320" data-href="//plus.google.com/u/0/107475538839585118866" data-rel="publisher"></div>
               </div>
		</div>
		
		<div class="row text-center">
            <div class="col-sm-6">
                <h4 class="service-heading">
				<img src="/img/logos/yout.svg" alt="yout" width=36 height=36>
				</h4>
				<div class='embed-container'>
                <iframe width="100%" height="340" src="https://www.youtube.com/embed/VTExGFHhyvQ" frameborder="80" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
    </div>
</section>