<section id="youtube">
    <div class="container">

	   <div class="row text-center">
            <div class="col-sm-6">
                <h4 class="service-heading">
				<img src="/img/logos/yout.svg" alt="yout" width=36 height=36>
				</h4>
				<div class='embed-container'>
				<script src="https://fast.wistia.com/embed/medias/qwm2jouz6q.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_qwm2jouz6q videoFoam=true" style="height:340;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/qwm2jouz6q/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
				
				</div>
		</div>
		
		<div class="row text-center">
            <div class="col-sm-6">
                <h4 class="service-heading">
				<img src="/img/logos/yout.svg" alt="yout" width=36 height=36>
				</h4>
				<div class='embed-container'>
                <iframe width="100%" height="340" src="https://www.youtube.com/embed/VTExGFHhyvQ" frameborder="80" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
    </div>
</section>